<p-toast></p-toast>
<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card">
      <h5>Seleccione los archivos </h5>
      <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple" accept=".xlsx" maxFileSize="1000000" chooseLabel="Agregar" uploadLabel="Cargar" cancelLabel="Cancelar">
      </p-fileUpload>
    </div>

    <div class="mb-4" *ngIf="showProgressBar">
      <h5>Barra de progreso</h5>
      <p-progressBar [value]="valueProgressBar"></p-progressBar>
    </div>
  </div>

  <div class="col-12 md:col-6 md:col-offset-3">
    <div class="card">
      <h5>Indicadores</h5>
      <p-table [loading]="spinIndicadores" #tableIndicadores [value]="listIndicadores" dataKey="code" [rows]="5" [paginator]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Borrar filtros" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(tableIndicadores)"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="fecha">Fecha
              <p-sortIcon field="fecha"></p-sortIcon>
            </th>
            <th pSortableColumn="saldo_anterior">Saldo inicial
              <p-sortIcon field="saldo_anterior"></p-sortIcon>
            </th>
            <th pSortableColumn="entradas">Entradas
              <p-sortIcon field="entradas"></p-sortIcon>
            </th>
            <th pSortableColumn="salidas">Salidas
              <p-sortIcon field="salidas"></p-sortIcon>
            </th>
            <th pSortableColumn="saldo_final">Saldo final
              <p-sortIcon field="saldo_final"></p-sortIcon>
            </th>
            <th></th>
          </tr>
          <tr>
            <th>
              <div class="flex justify-content-between flex-column sm:flex-row">
                <p-calendar selectionMode="range" [showIcon]="true" [readonlyInput]="true" inputId="range" [touchUI]="true" placeholder="Rango de fechas" [(ngModel)]="rangoFechasIndicadores"></p-calendar>
                <button type="button" pButton pRipple icon="pi pi-search" class="ml-2" (click)="getIndicadoresPorFecha()"></button>
              </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td style="min-width: 12rem;">
              {{data.fecha | date:'dd-MM-yyyy'}}
            </td>
            <td style="min-width: 12rem;">
              {{data.saldo_anterior | currency:'$'}}
            </td>
            <td style="min-width: 12rem;">
              {{data.entradas | currency:'$'}}
            </td>
            <td style="min-width: 12rem;">
              {{data.salidas | currency:'$'}}
            </td>
            <td style="min-width: 12rem;">
              {{data.saldo_final | currency:'$'}}
            </td>
            <td class="flex justify-content-center flex-column sm:flex-row">
              <button type="button" pButton pRipple icon="pi pi-search" class="ml-3" (click)="getDetalleCtaAhorro(data)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Sin registros</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="8">Cargando información, por favor espere</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="col-12 md:col-12">
    <div class="card">
      <h5>Detalle</h5>
      <p-table [loading]="spinDetalle" #tableDetalle [value]="listExtractosDetalle" dataKey="code" [rows]="10" (onFilter)="filtroTotalizadoDetalle($event,tableDetalle)" [paginator]="true" responsiveLayout="scroll" [globalFilterFields]="['fecha','hora','descripcion','servicio','valor','usuario','cliente_responsable','cliente_afectado']">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Borrar filtros" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(tableDetalle)"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="fecha">Fecha
              <p-sortIcon field="fecha"></p-sortIcon>
            </th>
            <th pSortableColumn="hora">Hora
              <p-sortIcon field="hora"></p-sortIcon>
            </th>
            <th pSortableColumn="descripcion">Descripción
              <p-sortIcon field="descripcion"></p-sortIcon>
            </th>
            <th pSortableColumn="servicio">servicio
              <p-sortIcon field="servicio"></p-sortIcon>
            </th>
            <th pSortableColumn="saldo_anterior">Saldo anterior
              <p-sortIcon field="saldo_anterior"></p-sortIcon>
            </th>
            <th pSortableColumn="valor">Valor
              <p-sortIcon field="valor"></p-sortIcon>
            </th>
            <th pSortableColumn="saldo_final">Saldo final
              <p-sortIcon field="saldo_final"></p-sortIcon>
            </th>
            <th pSortableColumn="usuario">Usuario
              <p-sortIcon field="usuario"></p-sortIcon>
            </th>
            <th pSortableColumn="cliente_responsable">Cliente responsable
              <p-sortIcon field="cliente_responsable"></p-sortIcon>
            </th>
            <th pSortableColumn="cliente_afectado">Cliente afectado
              <p-sortIcon field="cliente_afectado"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-columnFilter type="text" field="hora"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="descripcion"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="servicio"></p-columnFilter>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>
              <p-columnFilter type="text" field="usuario"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="cliente_responsable"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="cliente_afectado"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td style="min-width: 12rem; ">
              {{data.fecha | date:'dd-MM-yyyy'}}
            </td>
            <td style="min-width: 12rem; ">
              {{data.hora }}
            </td>
            <td style="min-width: 12rem; ">
              {{data.descripcion }}
            </td>
            <td style="min-width: 12rem; ">
              {{data.servicio }}
            </td>
            <td style="min-width: 12rem; ">
              {{data.saldo_anterior | currency:'$'}}
            </td>
            <td style="min-width: 12rem; ">
              {{data.valor | currency:'$'}}
            </td>
            <td style="min-width: 12rem; ">
              {{data.saldo_final | currency:'$'}}
            </td>
            <td style="min-width: 12rem; ">
              {{data.usuario}}
            </td>
            <td style="min-width: 12rem; ">
              {{data.cliente_responsable}}
            </td>
            <td style="min-width: 12rem; ">
              {{data.cliente_afectado}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="5">Total valor</td>
                <td>{{totalValorDetalle | currency:'$'}}</td>
                <td colspan="4"></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage ">
          <tr>
            <td colspan="10 ">Sin registros</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody ">
          <tr>
            <td colspan="10 ">Cargando información, por favor espere</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
